.front-cover {
  background-image: url("/assets/images/orionsky.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    // Positioning context for the mobile navigation icon
    position: relative;
    font-family: $heading-font-family;
}

.site-title {
    font-size: 60px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.tagline {
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
//NOTE partials can't include mixins?
@mixin graybright ($grayscale: 100%, $brightness: 100%) {
  -webkit-filter: grayscale(100%) brightness($brightness);
  -moz-filter: grayscale(100%) brightness($brightness);
  -ms-filter: grayscale(100%) brightness($brightness);
  -o-filter: grayscale(100%) brightness($brightness);
  filter: grayscale(100%) brightness($brightness);
}

.code-icons {
  //@include graybright(100%, 120%);
  list-style: none;
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
  //background-color: rgba(58,	83	,119	,0.8);

  li {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 30px;

    img {
      @extend .shadow;
    }
  }
}

.twitter-handle h2 {
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  &:link, &:visited, &:hover {
    color: white;
  }
}

#github {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
    //float: right;
    line-height: 56px;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Roboto, sans-serif;


    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;
        letter-spacing: 2px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: rgb(19,45,88);
        border: 1px solid #555;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            color: white;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            //color: #000;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-family: Roboto;
    font-weight: 300;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    font-family: $heading-font-family;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 26px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
